<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/tui-grid/dist/tui-grid.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tui-grid/dist/tui-grid.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>얼굴부위</h1>
    <a href="javascript:;" id="search" class="btn btn-outline-primary">조회</a>
    <a href="javascript:;" id="add" class="btn btn-outline-primary">추가</a>
    <a href="javascript:;" id="update" class="btn btn-outline-primary">저장</a>
    <a href="javascript:;" id="delete" class="btn btn-outline-primary">삭제</a>
    <br><br>
    <div id="wrapper"></div>
</body>
</html>

<script>
    var grid = new tui.Grid({
        el: document.getElementById('wrapper'),
        rowHeaders: ['checkbox'],
        bodyHeight: 500,
        data: {
            api: {
                readData: {url: '/boc/search/face-section', method: 'GET'}
            }
        },
        scrollX: false,
        scrollY: false,
        columns: [
            {
                header: 'id',
                name: 'id'
            },
            {
                header: '부위명',
                name: 'sectionName',
                editor:'text'
            },
            {
                header: '부위 상세 보기',
                name: 'link'
            }
        ]
    });

    grid.on('click', function(event){
        debugger
    });
</script>