<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/tui-grid/dist/tui-grid.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/tui-grid/dist/tui-grid.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>전체보기</h1>
    <a href="/boc/faceInfo" class="btn btn-outline-primary">조회</a>
    <a href="/boc/face-section" class="btn btn-outline-primary">얼굴부위 수정 및 얼굴상세 연결</a>
    <a href="/boc/face-section-detail" class="btn btn-outline-primary">얼굴부위 상세수정</a>
    <a href="#" class="btn btn-danger" onclick="document.getElementById('logout').submit();">로그아웃</a>
    <form id="logout" th:action="@{/logout}" method="POST">
    </form>
    <br>

    <div id="wrapper"></div>

</body>
</html>
<script type="text/javascript">
    var grid = new tui.Grid({
        el: document.getElementById('wrapper'),
        rowHeaders: ['checkbox'],
        bodyHeight: 500,
        treeColumnOptions: {
            name: 'sectionName',
        },
        data: [
            // api: {
            //     readData: {url: '/boc/search/faceInfo', method: 'GET'}
            // }
            {
                "id": 1,
                "sectionName": "f1"
            },
            {
                "id": 2,
                "sectionName": "f2",
                _attributes: {
                    expanded: true // default: false
                },
                _children: [
                    {
                        "detailName" : "상세1",
                        "price": 100
                    },
                    {
                        "detailName" : "상세2",
                        "price": 200
                    }
                ]
            },
            {
                "id": 3,
                "sectionName": "f2"
            }
        ],
        scrollX: false,
        scrollY: false,
        columns: [
            {
                header: '부위',
                name: 'sectionName'
            },
            {
                header: '부위상세',
                name: 'detailName'
            },
            {
                header: '가격',
                name: 'price'
            }
        ]
    });
</script>
