<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="main-nav">
        <h1>편집화면</h1>
        <br/>
        <a href="#" class="btn btn-primary">조회</a>
        <a href="#" class="btn btn-primary">저장</a>
        <a href="#" class="btn btn-primary">삭제</a>
        <a href="#" class="btn btn-danger" onclick="document.getElementById('logout').submit();">로그아웃</a>
        <form id="logout" th:action="@{/logout}" method="POST">
        </form>
    </div>
</html>
