<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>비밀번호 변경</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center"></p>
            <form method="post" id="passwordForm" th:action="@{/boc/password-change}">
                <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-6">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span><br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                    </div>
                    <div class="col-sm-6">
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span><br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                    </div>
                </div>
                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                <div class="row">
                    <div class="col-sm-12">
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                    </div>
                </div>
                <br>
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="비밀번호 변경">
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>
</body>
</html>
<script>
    $('#passwordForm').submit(function() {
        if($('#password1').val() !== $('#password2').val()) {
            alert('변경할 비밀번호를 다시 확인해주세요');
            return false;
        }
    })
</script>